<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>931707086684-lp8i4m6kqjt1lbk8nlqdpq451ll8a0kn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.931707086684-lp8i4m6kqjt1lbk8nlqdpq451ll8a0kn</string>
	<key>API_KEY</key>
	<string>AIzaSyB_tY537vBqVx24G-0O2ZAtjW2leD2nnXo</string>
	<key>GCM_SENDER_ID</key>
	<string>931707086684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aleko.noteify</string>
	<key>PROJECT_ID</key>
	<string>noteify-dac43</string>
	<key>STORAGE_BUCKET</key>
	<string>noteify-dac43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:931707086684:ios:82dd2831ae52fa0f83c399</string>
</dict>
</plist>